@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-novamono: "Nova Mono", monospace;
  --font-lato: "Lato", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;

  --color-primary-50: #fffbeb;
  --color-primary-100: #fef3c7;
  --color-primary-200: #fdfb8a;
  --color-primary-300: #fbff00;
  --color-primary-400: #f0ec00;
  --color-primary-500: #cbce0e;
  --color-primary-600: #a4a714;
  --color-primary-700: #828506;
  --color-primary-800: #7e760b;
  --color-primary-900: #5f610b;

  --color-secondary-50: #eff6ff;
  --color-secondary-100: #dbeafe;
  --color-secondary-200: #bfdbfe;
  --color-secondary-300: #93c5fd;
  --color-secondary-400: #60a5fa;
  --color-secondary-500: #3b82f6;
  --color-secondary-600: #2563eb;
  --color-secondary-700: #1d4ed8;
  --color-secondary-800: #1e40af;
  --color-secondary-900: #1e3a8a;

  --shadow-primary: rgba(249, 115, 22, 0.15);
  --shadow-secondary: rgba(14, 165, 233, 0.15);
  --shadow-dark: rgba(0, 0, 0, 0.2);
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
